body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:412px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u947_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-radius:50px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u947 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:100px;
  width:100px;
  height:50px;
  display:flex;
}
#u947 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u947_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u948_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
}
#u948 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:500px;
  width:100px;
  height:50px;
  display:flex;
}
#u948 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u948_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u949 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:150px;
  width:0px;
  height:0px;
}
#u949_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:55px;
}
#u949_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:40px;
  width:18px;
  height:18px;
}
#u949_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:17px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u950 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:550px;
  width:0px;
  height:0px;
}
#u950_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:55px;
}
#u950_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:40px;
  width:18px;
  height:18px;
}
#u950_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:17px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u951_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
}
#u951 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:200px;
  width:100px;
  height:50px;
  display:flex;
}
#u951 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u951_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u952_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u952 {
  border-width:0px;
  position:absolute;
  left:170px;
  top:200px;
  width:100px;
  height:50px;
  display:flex;
}
#u952 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u952_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u953 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:225px;
  width:0px;
  height:0px;
}
#u953_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:75px;
  height:10px;
}
#u953_seg1 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:-9px;
  width:18px;
  height:18px;
}
#u953_text {
  border-width:0px;
  position:absolute;
  left:-15px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u954_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
}
#u954 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:300px;
  width:100px;
  height:50px;
  display:flex;
}
#u954 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u954_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u955_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u955 {
  border-width:0px;
  position:absolute;
  left:170px;
  top:300px;
  width:100px;
  height:50px;
  display:flex;
}
#u955 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u955_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u956 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:325px;
  width:0px;
  height:0px;
}
#u956_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:75px;
  height:10px;
}
#u956_seg1 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:-9px;
  width:18px;
  height:18px;
}
#u956_text {
  border-width:0px;
  position:absolute;
  left:-15px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u957_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
}
#u957 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:400px;
  width:100px;
  height:50px;
  display:flex;
}
#u957 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u957_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u958_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u958 {
  border-width:0px;
  position:absolute;
  left:170px;
  top:400px;
  width:100px;
  height:50px;
  display:flex;
}
#u958 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u958_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u959 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:425px;
  width:0px;
  height:0px;
}
#u959_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:75px;
  height:10px;
}
#u959_seg1 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:-9px;
  width:18px;
  height:18px;
}
#u959_text {
  border-width:0px;
  position:absolute;
  left:-15px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u960 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:250px;
  width:0px;
  height:0px;
}
#u960_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:55px;
}
#u960_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:40px;
  width:18px;
  height:18px;
}
#u960_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:17px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u961 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:350px;
  width:0px;
  height:0px;
}
#u961_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:55px;
}
#u961_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:40px;
  width:18px;
  height:18px;
}
#u961_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:17px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u962 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:450px;
  width:0px;
  height:0px;
}
#u962_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:55px;
}
#u962_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:40px;
  width:18px;
  height:18px;
}
#u962_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:17px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u963_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:50px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-radius:50px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u963 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:50px;
  display:flex;
  color:#000000;
}
#u963 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u963_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u964_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
}
#u964 {
  border-width:0px;
  position:absolute;
  left:170px;
  top:500px;
  width:100px;
  height:50px;
  display:flex;
}
#u964 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u964_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u965 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:525px;
  width:0px;
  height:0px;
}
#u965_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:75px;
  height:10px;
}
#u965_seg1 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:-9px;
  width:18px;
  height:18px;
}
#u965_text {
  border-width:0px;
  position:absolute;
  left:-15px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u966_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u966 {
  border-width:0px;
  position:absolute;
  left:320px;
  top:500px;
  width:100px;
  height:50px;
  display:flex;
}
#u966 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u966_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u967 {
  border-width:0px;
  position:absolute;
  left:270px;
  top:525px;
  width:0px;
  height:0px;
}
#u967_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:55px;
  height:10px;
}
#u967_seg1 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:-9px;
  width:18px;
  height:18px;
}
#u967_text {
  border-width:0px;
  position:absolute;
  left:-25px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u968_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u968 {
  border-width:0px;
  position:absolute;
  left:170px;
  top:600px;
  width:100px;
  height:50px;
  display:flex;
}
#u968 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u968_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u969 {
  border-width:0px;
  position:absolute;
  left:220px;
  top:550px;
  width:0px;
  height:0px;
}
#u969_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:55px;
}
#u969_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:40px;
  width:18px;
  height:18px;
}
#u969_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:17px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u970_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u970 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:600px;
  width:100px;
  height:50px;
  display:flex;
}
#u970 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u970_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
