body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:1166px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u14638 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1140px;
  height:50px;
}
#u14638_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1140px;
  height:50px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(85, 85, 85, 1);
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14638_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u14639_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1166px;
  height:50px;
  background:inherit;
  background-color:rgba(107, 107, 107, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(51, 51, 51, 1);
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#C0C0C0;
}
#u14639 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1166px;
  height:50px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#C0C0C0;
}
#u14639 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14639_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u14641_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
.u14641 {
  border-width:0px;
  position:absolute;
  left:115px;
  top:60px;
  width:30px;
  height:30px;
  display:flex;
  color:#000000;
}
.u14641 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u14641_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u14642_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:240px;
  background:inherit;
  background-color:rgba(107, 107, 107, 0.498039215686275);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(85, 85, 85, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#000000;
  line-height:24px;
}
.u14642 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:240px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#000000;
  line-height:24px;
}
.u14642 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u14642_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:240px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(85, 85, 85, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#000000;
  line-height:24px;
}
.u14642.mouseOver {
}
.u14642_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:240px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(85, 85, 85, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#000000;
  line-height:24px;
}
.u14642.selected {
}
.u14642_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u14640-1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:240px;
}
#u14640-2 {
  border-width:0px;
  position:absolute;
  left:280px;
  top:0px;
  width:260px;
  height:240px;
}
#u14640-3 {
  border-width:0px;
  position:absolute;
  left:560px;
  top:0px;
  width:260px;
  height:240px;
}
#u14640-4 {
  border-width:0px;
  position:absolute;
  left:840px;
  top:0px;
  width:260px;
  height:240px;
}
#u14640-5 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:260px;
  width:260px;
  height:240px;
}
#u14640-6 {
  border-width:0px;
  position:absolute;
  left:280px;
  top:260px;
  width:260px;
  height:240px;
}
#u14640-7 {
  border-width:0px;
  position:absolute;
  left:560px;
  top:260px;
  width:260px;
  height:240px;
}
#u14640-8 {
  border-width:0px;
  position:absolute;
  left:840px;
  top:260px;
  width:260px;
  height:240px;
}
#u14640 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:70px;
  width:1100px;
  height:500px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u14643_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1166px;
  height:50px;
  background:inherit;
  background-color:rgba(107, 107, 107, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u14643 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1166px;
  height:50px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u14643 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14643_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
